/* Основные стили */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
}
div.stat-changes-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.category-column{
  max-width: 300px;
}

a{
  text-decoration: #335b93;
  color: #335b93;
}
th{
  color: #8c4c2a;
}
td{
  color: #99753b;
}
.discount-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.discount-table th, .discount-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
select{
width: 20vw;
}

.discount-table th {
  background-color: #f4f4f4;
}
input{
  margin-bottom: 3%;
}

.withback{
  min-height: 77vh;
  position: relative; /* Необходимо для корректного позиционирования псевдоэлемента */
  overflow: hidden;   /* Обрезаем псевдоэлемент, если он выходит за пределы контейнера */
}

.withback::before{
  content: ""; /* Псевдоэлемент без контента */
  position: absolute; /* Абсолютное позиционирование */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/static/30ae6936-0c4d-44cf-81a5-781c3eaee7d5.jpg'); /* Фоновое изображение */
  /* background-size: cover; Масштабирование изображения */
  background-position: center; /* Позиционирование изображения */
  background-repeat: repeat; /* Запрещаем повторение изображения */
  opacity: 0.2; /* Прозрачность только для фона */
  z-index: -1; /* Ставим псевдоэлемент на задний план */
}

#filters-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.filter-item {
  display: flex;
  flex-direction: column;
}
input{
  
  max-width: 368px;
}

#register-form, #login-form, #freeback-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: left;
}
h1, h2, h3{
  color: #8c4c2a;
  text-align: center;
  margin: 0;
  padding: 10px;
}

/* Удобный интерфейс */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
  z-index: 1000; /* чтобы элемент оставался поверх других */
  
  background-color: #f8f5ef;
  text-align: center;
  color: white;
}

.discount-table{
  width: 100%;
}
img{
  max-width: 100%;
}
nav {
  display: flex; /* Включаем Flexbox для навигации */
  align-items: center; /* Выравниваем элементы по вертикали */
  justify-content: center; /* Центрируем основные ссылки */
  background-color: #8c4c2a;
  padding: 10px;
  position: relative; /* Для управления размещением дочерних элементов */
}

nav .user-info {
  position: absolute; /* Размещаем блок с именем пользователя и кнопкой "Выход" справа */
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px; /* Отступ между именем пользователя и кнопкой "Выход" */
}

nav .user-info span,
nav .user-info a {
  font-size: 16px;
  text-decoration: none;
}

nav a {
  color: orange;
  text-decoration: none;
  margin: 0 10px; /* Отступы между ссылками */
  font-size: 16px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #3498db;
  text-decoration: underline;
}


#content-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button {
  padding: 10px 20px;
  /* background-color: #3498db; */
  color: orange;
  border: 1px solid #8c4c2a;
  border-radius: 5px;
  outline-color: #8c4c2a;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}
main{
  margin-top: 15%;
}

button:hover {
  background-color: #8c4c2a;
}

/* Адаптивность */

@media (max-width: 768px) {
  body {
      font-size: 14px;
  }

  h1 {
      font-size: 24px;
  }

  nav a {
      display: block;
      margin: 10px 0;
  }

  #content-container {
      padding: 15px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 16px;
}
  nav a {
      font-size: 14px;
  }
}

/* Добавление плавных анимаций */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .discount-table {
    font-size: 14px;    /* Уменьшаем шрифт на меньших экранах */
  }

  .discount-table th, .discount-table td {
    padding: 6px;       /* Уменьшаем отступы */
  }
}

@media screen and (max-width: 480px) {
  .discount-table {
    font-size: 12px;    /* Ещё меньше шрифт для очень маленьких экранов */
  }

  .discount-table th, .discount-table td {
    width: 80px;
    padding: 4px;       /* Ещё меньше отступы */
  }
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
  z-index: 1000;
  background-color: #f8f5ef;
  text-align: center;
  color: #333;
}
h1 a{
  min-width: 60px;
  width: 8%;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
}

header nav {
  background-color: #8c4c2a;
  padding: 10px;
  text-align: center;
}

header nav a{
  color: orange;
  text-decoration: none;
  margin: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
span{
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
header nav a:hover {
  color: #3498db;
  text-decoration: underline;
}

header nav a.active {
  font-weight: bold;
  color: #3498db;
}

/* Основной контент */
main {
  margin-top: 100px; /* отступ сверху, чтобы не перекрывался хедер */
  padding: 20px;
}

.intro-section, .features-section, .data-source {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

h2 {
  color: #8c4c2a;
  text-align: center;
  padding: 10px;
}

 p {
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

ul li::before {
  content: "✔";
  color: #3498db;
  position: absolute;
  left: 0;
  top: 0;
}

/* Стили для адаптивности */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  header h1 {
    font-size: 1.2rem;
  }

  main {
    margin-top: 120px;
  }

  .intro-section, .features-section, .data-source {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  ul li {
    font-size: 0.9rem;
  }
}