<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Добро пожаловать в Мониторинг скидок</h1>
        <nav>
            <a href="/login">Войти</a>
            <a href="/register">Регистрация</a>
            <a href="/feedback">Обратная связь</a>
            <a href="/discounts">Скидки</a>
        </nav>
    </header>
    <main>
        <h2>О приложении</h2>
        <p>Наш сервис предоставляет удобный инструмент для мониторинга скидок в Московской области. Узнайте, какие предприятия предлагают лучшие условия, и оставьте свои отзывы.</p>
    </main>
</body>
</html>
