<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SavvyDeals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1><a href="/"><img src="/static/logo.png" alt="SavvyDeals Logo"></a>SavvyDeals - сочетание умного подхода и выгодных предложений.</h1>
        <nav>
            {% if user_id %}
            <a href="/logout" id="logout-button">Выход</a>
            {% else %}
            <a href="/login">Войти</a>
            <a href="/register">Регистрация</a>
            {% endif %}
            <a href="/discounts">Скидки</a>
        </nav>
    </header>
    <main class="withback">
        <section class="intro-section">
            <h2>О приложении</h2>
            <p>Добро пожаловать в <strong>SavvyDeals</strong> — ваш надежный помощник для поиска и мониторинга скидок в Московской области.</p>
            <p>Мы собираем самые выгодные предложения от торгово-сервисных предприятий для владельцев социальных карт, чтобы вы могли сэкономить время и деньги, находя лучшие скидки и акции в вашем городе.</p>
            <p>С помощью нашего сервиса вы получите доступ к актуальной информации о скидках на товары и услуги, сможете отслеживать изменения в предложениях, а также делиться мнениями с другими пользователями.</p>
        </section>
        
        <section class="features-section">
            <h2>Почему стоит использовать наш сервис?</h2>
            <ul>
                <li><strong>Удобная фильтрация:</strong> Легко находите скидки по категориям, товарам или предприятиям с помощью удобных фильтров.</li>
                <li><strong>Пользовательские отзывы:</strong> Оставляйте отзывы и ознокамливайтесь мнения других пользователей о скидках предприятияй.</li>
                <li><strong>Интуитивно понятный интерфейс:</strong> Мы сделали интерфейс простым и удобным для всех пользователей.</li>
            </ul>
        </section>

        <section class="data-source">
            <h2>Данные</h2>
            <p>Все данные, которые вы видите на нашем сайте, получены из официальных открытых источников. Мы используем актуальный датасет от <a href="https://data.mos.ru/opendata/1581?isDynamic=false" target="_blank">портала открытых данных Москвы</a>.</p>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
