<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1><a href="/"><img src="/static/logo.png" alt=""></a>SavvyDeals - сочетание умного подхода и выгодных предложений.</h1>
        <nav>
            <a href="/">Главная</a>
        </nav>
    </header>
    <main class="withback">
        <section class="intro-section">
        <h2>Авторизация</h2>
        <form id="login-form">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" required>
        </div>
        <div>
            <button type="submit">Войти</button>
            <p>Нет аккаунта? <a href="/register">Зарегистрируйтесь</a></p>
        </div>
        </form>
        <h3>Авторизававшись вы получите доступ к просмотру статистики о предприятиях предоставляющие скидки в веб-приложении, а именно: Катенории предприятий по выгоде и Общая информация о выгоде предприятия</h3>
    </section>

    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
