<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1><a href="/"><img src="/static/logo.png" alt=""></a>SavvyDeals - сочетание умного подхода и выгодных предложений.</h1>
        <nav>
            <a href="/">Главная</a>
        </nav>
    </header>
    <main class="withback">
        <h2>Регистрация</h2>
        <form id="register-form">
            <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" required>
        </div>
        <div>
            <label for="confirm-password">Повторите пароль:</label>
            <input type="password" id="confirm-password" required>
        </div>
        <div>
            <button type="submit">Зарегистрироваться</button>
            <p>Уже есть аккаунт? <a href="/login">Войдите</a></p>
        </div>
        </form>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
